.main-header {
  padding: 0 2rem;
  display: flex;
  align-items: center;
  height: 64px;
  justify-content: space-between;

  .logo {
    line-height: normal;

    img {
      width: 16rem;
    }
  }
}